<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width">
      <title>Lunar Convert</title>
      <link href="/public/styling.css" rel="stylesheet" type="text/css" />
      <script defer src="/public/avi.js"></script>
		  <script src="https://cdn.jsdelivr.net/npm/@ffmpeg/ffmpeg@0.11.5/dist/ffmpeg.min.js"></script>
		 	<script src="https://cdn.jsdelivr.net/gh/eligrey/FileSaver.js@master/src/FileSaver.js"></script>
   </head>
   <body>
      <h1>Lunar Convert</h1>
      <div id="fileUploadDiv">
         <input type="file" accept="video/*" id="fileUpload" required>
         <label for="fileUpload">Select file</label>
      </div>
		 	<p style="display: none;" id="progress"></p>
      <p>Format to convert to:</p>
      <div class="dropdown">
         <button class="dropbtn">Formats:</button>
         <div class="dropdown-content">
            <a href="/">MP4</a>
            <a href="#">AVI</a>
            <a href="flv">FLV</a>
            <a href="gif">GIF</a>
            <a href="mov">MOV</a>
					 	<a href="mkv">MKV</a>
         </div>
      </div>
      <p>&nbsp;</p>
      <button disabled=true id="downloadButton">Download converted file</button>
		 	<p>&nbsp;</p>
   </body>
</html>